<div class="contact-container">
  <form action="/action_page.php">

    <label for="name">Name</label>
    <input type="text" id="name" name="firstname" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="lastname" placeholder="E-mail Address">

    <label for="message">Message</label>
    <textarea id="message" name="subject" placeholder="Your message" style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
