<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo mb-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Squirrel Away</a>

  <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Acorns</a>
      </li>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search Acorns</button>
    </form>

  </div>
  <!-- Collapsible content -->

</nav>


<!-- UNIVERSAL NAV BAR TEMPLATE -->
<!-- <nav class="navbar navbar-light" style="background-color: #224175;">
  <a class="navbar-brand">Squirrel Away</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->



<!-- <nav class = "topnav" id = "myTopnav">
    <ul> -->
    <!--DROP DOWN NAV -->
        <!-- <li> Squirrel Away -->
            <!-- TO DO: Link to right part of page -->
            <!-- <ul class = "drop-menu">
                <li><a href="url">The Mission</a></li>
                <li><a href="url">The Design</a></li>
                <li><a href="url">The Team</a></li>
                <li><a href="url">FAQs</a></li>
            </ul>
        </li> -->

<!-- TO DO: SEARCH BAR -->
<!-- <form class="search-container">
    <input type="text" id="search-bar" placeholder="SEARCH ACORNS">
    <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
  </form>

        <li> My Account
            <ul class = "drop-menu">
                <li><a href="url">My Acorns</a></li>
                <li><a href="url">Settings </a></li>
            </ul>
        </li> -->

<!--RESPONSIVE HAMBURGER MENU/TOGGLE -->
    <!-- <div id="menuToggle">
        <li class="responsive-menu">
        <input type="checkbox" />
        <div class="hamburger"> -->
            <!-- Spans will create hamburger lines  -->
            <!-- <span></span>
            <span></span>
            <span></span> -->
        <!-- </div>
            <ul id="menu"> -->
                <!-- TO DO: Link to right part of page -->
                <!-- <li><a href="url">My Acorns</a></li>
                <li><a href="url">Settings</a></li>
            </ul>
        </li>
     </div>

    </ul>
</nav> -->
