<!-- LANDING PAGE NAV BAR  -->

<!--DROP DOWN NAV -->
<nav class = "topnav" id = "myTopnav">
    <ul>
        <li>
            <a href="/">Squirrel Away</a>
            <!-- TO DO: Link to right part of page -->
            <ul class = "drop-menu">
                <li><a href="url">The Mission</a></li>
                <li><a href="url">The Design</a></li>
                <li><a href="url">The Team</a></li>
                <li><a href="url">FAQs</a></li>
            </ul>
        </li>

<!--RESPONSIVE HAMBURGER MENU/TOGGLE -->
        <div id="menuToggle">
            <li class="responsive-menu">
            <input type="checkbox" />
            <div class="hamburger">
                <!-- Spans will create hamburger lines  -->
                <span></span>
                <span></span>
                <span></span>
            </div>
                <ul id="menu">
                    <!-- TO DO: Link to right part of page -->
                    <li><a href="url">The Mission</a></li>
                    <li><a href="url">The Design</a></li>
                    <li><a href="url">The Team</a></li>
                    <li><a href="url">FAQs</a></li>
                </ul>
            </li>
         </div>
    </ul>
</nav>
