<!-- UNIVERSAL NAV BAR TEMPLATE -->
<nav class = "topnav" id = "myTopnav">
    <ul>
    <!--DROP DOWN NAV -->
        <li> Squirrel Away
            <!-- TO DO: Link to right part of page -->
            <ul class = "drop-menu">
                <li><a href="url">The Mission</a></li>
                <li><a href="url">The Design</a></li>
                <li><a href="url">The Team</a></li>
                <li><a href="url">FAQs</a></li>
            </ul>
        </li>

<!-- TO DO: SEARCH BAR -->
<form class="search-container">
    <input type="text" id="search-bar" placeholder="SEARCH ACORNS">
    <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
  </form>

        <li> My Account
            <ul class = "drop-menu">
                <li><a href="url">My Acorns</a></li>
                <li><a href="url">Settings </a></li>
            </ul>
        </li>


    </ul>
</nav>
