<!-- UNIVERSAL NAV BAR TEMPLATE -->
<nav class = "topnav" id = "myTopnav">
    <ul>
    <!--DROP DOWN NAV -->
        <li> Squirrel Away
            <!-- TO DO: Link to right part of page -->
            <ul class = "drop-menu">
                <li><a href="url">The Mission</a></li>
                <li><a href="url">The Design</a></li>
                <li><a href="url">The Team</a></li>
                <li><a href="url">FAQs</a></li>
            </ul>
        </li>

<!-- TO DO: SEARCH BAR -->
<input type="text" placeholder="Search Acorns">
</div>

        <li> My Account
            <ul class = "drop-menu">
                <li><a href="url">My Acorns</a></li>
                <li><a href="url">Settings </a></li>
            </ul>
        </li>


    </ul>
</nav>
