<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between navbar-custom">

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Collapsable Nav -->
    <!-- Brand Name Text  -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/home">SQUIRREL AWAY</a>

        <!-- Search Bar -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Dig Up Acorns" aria-label="Search">
            <!-- Search Button -->
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
