<div class="signup-section">


    <form>
        <h1 class="signup-heading">SIGN UP</h1>
      <!-- Name -->
      <div class="form-group">
        <!-- <label for="username">Username</label><br> -->
        <input class="form-control" id="username" type="text" name="title" placeholder="Enter your Name" value="{{username}}"/>
      </div>

      <!-- Email -->
      <div class="form-group">
          <!-- <label for="email">Enter Your Email</label><br> -->
          <input class="form-control" id="email" type="text" placeholder="Enter Your Email" name="email" value="{{email}}" />
      </div>

      <!-- Password -->
      <div class="form-group">
          <!-- <label for="password">Create a Password</label><br> -->
          <input class="form-control" id="password" type="text" name="password" placeholder="Create a Password" value="{{password}}" />
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
  </form>


</div>
