<!-- LAYOUT TEMPLATE/SUPER TEMPLATE -->
<!-- All other templates inherit from main.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPD1.3</title>

    <!-- Import Style Sheet  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Import Fonts (later)-->

    <!-- Bootstrap? (maybe) -->
</head>

<body>

    <!-- Render Navbar on every page -->
    {{> navbar}}

    <!-- {{{body}}} (for later) -->
</body>

</html>
