<!-- ACORN NEW -->

<div class="new-acorn-row">
    <div class="col-sm-6 col-sm-offset-3" "new-acorn-container">
          <form method="POST" action="/resources">
              {{> new-acorn-form}}
              <!-- <input type="hidden" name="categoryId" value="{{categoryId}}"> -->
              <div class="form-group new-acorn-row">
                <button class="btn btn-light" type="submit">Save Acorn!</button>
              </div>
          </form>
      </div>
</div>
