<!-- ACORN INDEX-->

<h1>Your Acorns</h1>

<a href="/resources/new">New Acorn!</a>

<div class="row">
    {{#each acorns}}
  <div class="col-sm-3">
    <h2><a href="/resources/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.category}}</small>
  </div>
{{/each}}
</div>
