<!-- ACORN EDIT -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/categories/{{acorn.categoryId}}/acorns/{{acorn._id}}?_method=PUT">
      {{> new-acorn-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Acorn</button>
      </div>
    </form>
  </div>
</div>
