<!-- CATEGORY NEW -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
          <form method="POST" action="/categories/{{categoryId}}/acorns">
              {{> new-category-form}}
              <input type="hidden" name="categoryId" value="{{categoryId}}">
              <div class="form-group">
                <button class="btn btn peach-gradient" type="submit">Save Acorn!</button>
              </div>
          </form>
      </div>
</div>
