<!-- CATEGORY EDIT -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <form method="category" action="/categories/{{category.categoryId}}/categories/{{category._id}}?_method=PUT">
      {{> new-category-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Category</button>
      </div>
    </form>

  </div>
</div>
