<!-- CATEGORY NEW -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
          <form method="POST" action="/categories">
              <label for="category-name"> </label><br>
              <input type="text" class="form-control" id="category-name" name="category" placeholder="Name of Category"/>
              <div class="form-group">
                <button class="btn btn" type="submit">Create</button>
              </div>
          </form>
      </div>
</div>
