<!-- categorys-index -->
<!-- Baskets? Bags? -->
<h1>Categories</h1>

<a href="/categorys/new">New Category</a>

<div class="row">
    {{#each categorys}}
  <div class="col-sm-3">
    <h2><a href="/categorys/{{this._id}}">{{this.title}}</a></h2>
    <small>{{this.categoryTitle}}</small>
  </div>
{{/each}}
</div>
