<!-- Import HOME Style Sheet  -->
<link rel="stylesheet" href="public/css/home-style.css">

<!-- Display Landing Page Navbar  -->
{{<navbar-landing}}

<!-- Squirrel Away Title  -->
<div class="squirrel-away-title">

</div>

<!-- Signup Form Section  -->
<div class="signup-section">
    <!-- sign-up for partial  -->
    {{>signup-form}}
</div>

<!-- Mission Section -->
<div class="mission-section">
    <h1 class="home-section">The Mission</h1>
    <p></p>
</div>

<!-- Design Section -->
<div class="design-section">
    <h1 class="home-section">The Design</h1>
</div>

<!-- Team Section  -->
<div class="team-section">
    <h1 class="home-section">The Team</h1>
        <h3>Anna Pawl</h3>
            <p> little bio</p>
        <h3>Rinni Swift</h3>
            <p> little bio </p>
        <h3>Jason Romulus</h3>
            <p> little bio </p>
        <h3>Kuan-Ying Fang</h3>
            <p> little bio</p>
</div>

<!-- FAQs Section  -->
<div class="faq-section">
    <h1 class="home-section">FAQS</h1>
</div>

<!-- Contact Section -->
<div class="contact-section">
    <h1>Say Hello</h1>
    <p>Thank you for using Squirrel Away</p>

</div>

<!-- Footer Section ?-->
