<link rel="stylesheet" href="/css/home-style.css">

<!-- Squirrel Away Title  -->

<img class="squirrel-away-hero" src="/assets/home-hero.png" alt="Squirrel Away Hero">


<!-- Link to Sign Up Page -->
<a class="signup-link" href="/sign-up">Sign Up</a>

<!-- Link to Login Page -->
<a class="login-link" href="/login">Login</a>


<!-- Mission Section -->
<div class="mission-section">
    <h3 class="home-section">The Mission</h3>
    <p></p>
</div>

<!-- Design Section -->
<div class="design-section">
    <h3 class="home-section">The Design</h3>
</div>

<!-- Team Section  -->
<div class="team-section">
    <h3 class="home-section">The Team</h3>
        <h4>Anna Pawl</h4>
            <p> little bio</p>
        <h4>Rinni Swift</h4>
            <p> little bio </p>
        <h4>Jason Romulus</h4>
            <p> little bio </p>
        <h4>Kuan-Ying Fang</h4>
            <p> little bio</p>
</div>

<!-- FAQs Section  -->
<div class="faq-section">
    <h3 class="home-section">FAQS</h3>
</div>

<!-- Contact Section -->
<div class="contact-section">
    <h3>Say Hello</h3>
    <p>Thank you for using Squirrel Away. Please feel free to contact with with questions and concerns</p>
    {{> contact-form}}
</div>

<!-- Footer Section ?-->
