<link rel="stylesheet" href="/css/home-style.css">

<!-- Squirrel Away Title and Acorn png  -->
<img class="squirrel-away-hero" src="/assets/home-hero.png" alt="Squirrel Away Hero">

<!-- Sign Up Button  (to signup.handlebars) -->
<!-- <form class="signup-button-container" action="/sign-up" method="get">
    <button class="signup-link-button" type="submit">Sign Up</button>
</form> -->

<!-- Login Button (to login.handlebars)  -->
<!-- <form class="login-button-container" action="/login" method="get">
    <button class="login-link-button" type="submit">Login</button>
</form> -->

<div class="signup-and-login-container">

    <!-- Link to Sign Up Page -->
    <button type="button" class="btn btn-outline-dark btn-lg"><a class="signup-link" href="/sign-up">SIGN UP</a></button>

    <!-- Link to Login Page -->
    <button type="button" class="btn btn-outline-dark btn-lg"><a class="signup-link" href="/login">LOGIN</a></button>

</div>

</br></br></br></br>




<!-- Mission Section -->
<div class="mission-section">
    <h2 id="the-mission">The Mission</h2>
        <p class="description"> Facilisis dolor. Proin fermentum dictum leo nec fermentum. Mauris bibendum, leo eget gravida rutrum, elit lorem hendrerit leo, ut ornare leo arcu at est. Maecenas convallis est eget tincidunt vulputate. Quisque ac ex sed ligula dignissim gravida id in eros. Mauris quis ultrices ligula. Morbi tempor turpis leo, sit amet porttitor nisl laoreet id. Duis consequat sodales arcu tincidunt iaculis. Maecenas condimentum molestie enim pretium aliquet. Pellentesque tincidunt, quam ac vulputate pharetra, diam orci porttitor leo, nec finibus nisl massa et sem.</p>
</div>

<!-- Design Section -->
<div class="design-section">
    <h2 id="the-design">The Design</h2>
    <p class="description">Maecenas condimentum molestie enim pretium aliquet. Pellentesque tincidunt, quam ac vulputate pharetra, diam orci porttitor leo, nec finibus nisl massa et sem.Consectetur et mi sed placerat. Cras mollis eleifend mi vitae porta. Phasellus erat turpis, maximus mollis leo id, laoreet porta magna. Nunc vehicula felis sed nulla sodales blandit. Ut condimentum mauris sed turpis pellentesque, non porttitor tortor ultrices. </p>
</div>

<!-- Team Section  -->
<div class="team-section">
    <h2 id="the-team">The Team</h2>
        <h4>Anna Pawl</h4>
        <h5>Project Manager, Front End Lead, UX and UI Designer</h5>
            <p> Consectetur et mi sed placerat. Cras mollis eleifend mi vitae porta. Phasellus erat turpis, maximus mollis leo id, laoreet porta magna. Nunc vehicula felis sed nulla sodales blandit. Ut condimentum mauris sed turpis pellentesque, non porttitor tortor ultrices. Mauris felis magna, placerat eu vestibulum eu, condimentum at erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eleifend elit et pellentesque consequat. Aenean at magna sodales, sodales mauris et, aliquet nulla. Quisque aliquam libero mi. Donec tempor ultrices ornare. Sed est diam, suscipit at erat ac, facilisis luctus risus. Aliquam aliquam, eros eu viverra blandit, lectus metus mollis sapien, non dignissim justo nisi consequat diam.</p> </br>
        <h4>Rinni Swift</h4>
        <h5>Lead iOS Developer, UX and UI Designer</h5>
            <p> Suspendisse ut facilisis dolor. Proin fermentum dictum leo nec fermentum. Mauris bibendum, leo eget gravida rutrum, elit lorem hendrerit leo, ut ornare leo arcu at est. Maecenas convallis est eget tincidunt vulputate. Quisque ac ex sed ligula dignissim gravida id in eros. Mauris quis ultrices ligula. Morbi tempor turpis leo, sit amet porttitor nisl laoreet id. Duis consequat sodales arcu tincidunt iaculis. Maecenas condimentum molestie enim pretium aliquet. Pellentesque tincidunt, quam ac vulputate pharetra, diam orci porttitor leo, nec finibus nisl massa et sem.</p> </br>
        <h4>Kuan-Ying Fang</h4>
        <h5>Back End Lead, Git Master</h5>
            <p> Rutrum vitae felis porttitor vestibulum. Ut sodales tempus turpis suscipit feugiat. Mauris placerat nunc ipsum. Integer leo lacus, interdum pulvinar neque ac, varius pellentesque dui. Suspendisse aliquam vulputate tortor sed sagittis. Vestibulum et dolor et nunc hendrerit pharetra. Praesent elit metus, consequat hendrerit blandit quis, dapibus et nisl. Aenean dolor lorem, posuere vel tincidunt eget, egestas vel diam. Praesent a feugiat leo. Vestibulum varius auctor vestibulum. Integer efficitur sit amet ligula sodales vehicula. Vestibulum vulputate blandit sapien, et malesuada tortor tincidunt id. Phasellus interdum lacus sed posuere pulvinar. Pellentesque tincidunt leo est, placerat accumsan risus pharetra a. Sed et tempus velit, id elementum libero. Ut ut cursus dui, nec consequat dui.</p></br>
        <h4>Jason Romulus</h4>
        <h5> Back End Engineer</h5>
            <p> Integer ornare feugiat ipsum, sed dapibus lorem euismod vitae. Maecenas finibus nisl quis metus faucibus commodo. Cras ullamcorper nibh at felis interdum, faucibus viverra urna accumsan. Cras ac feugiat lorem. Fusce bibendum diam at facilisis tempor. Praesent non semper tortor. Duis efficitur at ipsum sit amet accumsan. Nulla dictum purus in odio cursus, nec sollicitudin ligula maximus. Estibulum varius auctor vestibulum. Integer efficitur sit amet ligula sodales vehicula.</p>

</div>

</br></br></br></br></br></br>

<!-- FAQs Section  -->
<div class="faq-section">
    <h3 id="faq">FAQS</h3>
</div>

<!-- Contact Section -->
<div class="contact-section">
    <h3>Say Hello</h3>
    <p>Thank you for using Squirrel Away. Please feel free to contact with with questions and concerns</p>
    {{> contact-form}}
</div>

<!-- Footer Section ?-->
