<img class="acorn-pattern" src="/assets/acorn-pattern.png" alt="acorn pattern">

<div class="login-container">

    <form class="login-form" action="/login" method="POST">

        <h1 class="login-heading">LOGIN</h1>

        <!-- Email -->
        <div class="form-group">
            <input class="form-control" id="username" type="text" placeholder="Enter Your Username" name="username"/>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Enter Your Password"/>
        </div>

        <!-- Login Button -->

        <button class="btn btn-outline-secondary btn-sm" type="submit">LOGIN</button>

        <p>Not registered? <a href="/sign-up">Sign up</a> </p>

    </form>


</div>
