<div class="login-container">

    <form>

        <h1 class="login-heading">LOGIN</h1>

        <!-- Email -->
        <div class="form-group">
            <input class="form-control" id="email" type="text" placeholder="Enter Your Email" name="email" value="{{email}}" />
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" id="password" type="text" name="password" placeholder="Create a Password" value="{{password}}" />
        </div>

        <!-- Login Button -->
        <button class="btn btn-primary" type="submit">Login</button>

    </form>

</div>
