<form>
    <h1 class="signup-heading">LOGIN</h1>


  <!-- Email -->
  <div class="form-group">
      <!-- <label for="email">Enter Your Email</label><br> -->
      <input class="form-control" id="email" type="text" placeholder="Enter Your Email" name="email" value="{{email}}" />
  </div>

  <!-- Password -->
  <div class="form-group">
      <!-- <label for="password">Create a Password</label><br> -->
      <input class="form-control" id="password" type="text" name="password" placeholder="Create a Password" value="{{password}}" />
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>


</div>
