<div class="signup-container">
    
    <form>

        <h1 class="signup-heading">SIGN UP</h1>

        <!-- Name -->
        <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Your Name" value="{{username}}"/>
        </div>

        <!-- Email -->
        <div class="form-group">
            <input class="form-control" id="email" type="text" placeholder="Your Email" name="email" value="{{email}}"/>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" id="password" type="text" name="password" placeholder="Create a Password" value="{{password}}"/>
        </div>

        <!--Sign Up Form -->
        <button class="btn btn-primary" type="submit">Sign Up</button>

    </form>
</div>
