<div class="signup-container">

    <form action="/sign-up" method="POST">

        <h1 class="signup-heading">SIGN UP</h1>

        <!-- Name -->
        <div class="form-group">
            <input class="form-control" id="name" type="text" name="name" placeholder="Your Name"/>
        </div>

        <!-- Username -->
        <div class="form-group">
            <input class="form-control" id="username" type="text" placeholder="User Name" name="username"/>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" id="password" type="text" name="password" placeholder="Create a Password"/>
        </div>

        <!--Sign Up Form -->
        <button class="btn btn-primary" type="submit">Sign Up</button>

    </form>
</div>
