<img class="acorn-pattern" src="/assets/acorn-pattern.png" alt="acorn pattern">

<div class="signup-container">

    <form class="signup-form" action="/sign-up" method="POST">

        <h1 class="signup-heading">SIGN UP</h1>

        <!-- Name -->
        <div class="form-group">
            <input class="form-control" id="name" type="text" name="name" placeholder="Enter your Name"/>
        </div>

        <!-- Username -->
        <div class="form-group">
            <input class="form-control" id="username" type="text" placeholder="Create a Username" name="username"/>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Create a Password"/>
        </div>

        <!--Sign Up Form -->

        <button class="btn btn-outline-secondary btn-sm" type="submit">Sign Up</button>

        <p style="text-align:center; margin-top:2em"> Already Registered?</p>

        <a style="font-size:1em; color:#204272; text-align:center" href="/login" >Login</a>

    </form>
</div>
