html {
    height: 100%;
}

/* Style Body */
body {
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; sans-serif;
    background: white;
}

/* Style Navbar */
.navbar {
    width: 100%;
}

/* "Welcome to Squirrel Away" */
.squirrel-away-hero {
    width: 40vw;
    height: auto;
    display: block;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
 }

/* Signup Link */
.signup-link{

}

/* Login Link */
.login-link {

}
