html {
    height: 100%;
}

/* Style Body */
body {
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; sans-serif;
    background: white;
}

/* h4 Styles (The Team, names)  */

h2 {
 margin-top: 1em;
 color:#204272;
 text-decoration: none;
 font-family: 'Montserrat', sans-serif; sans-serif;
 text-align: left;
 padding: .1em;
 text-transform: uppercase;
}

h4 {
    color:#204272;
    padding: .2em;
    font-weight: bolder;
}

h5 {
    color:#2a569e;
    padding: .2em;

}

/* Mini Bio Styles */
p {
    padding: .2em;
}

p.description {
    font-size: 18px;
    padding: .3em;
}

/* Style Navbar */
.navbar {
    width: 100%;
}

/* "Welcome to Squirrel Away" */
.squirrel-away-hero {
    width: 30vw;
    height: auto;
    display: block;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
 }

 a.signup-link {
     text-align: center;
     font-size: 1em;
     color:#f2f2f2;
     text-decoration: none;


 }


 a.signup-link:hover {
     color: #a6daf4;
 }

 a.signup-link:after {
      color:#a6daf4;

 }

 .signup-and-login-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 7vw;
     height: auto;
     margin: auto;

 }

.btn {
    /* background: #d63b6c; */
    background: #6891a5;
    margin: .5em;
}

.btn:active {
  background-color: #5c84a8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
