
html {
    height: 100%;
}

/* Style Body */
body {
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; sans-serif;
    background: white;
}

/* for back button style */
.round {
  border-radius: 50%;
}

/* back button style */
.previous {
  background-color: #f1f1f1;
  color: black;
}


/* Style Links */
 a {
     color:black;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.5em;
 }

}
.btn {
   background: #ad1169;
   margin: .5em;
}

.btn:active {
 background-color: #5c84a8;
 box-shadow: 0 5px #666;
 transform: translateY(4px);
}

 .navbar-custom {
     background-color: #152c4c;
 }

 .signup-form {
     width: 30%;
     /* float:right;
     margin-top: -35em; */
     display: flex;
     flex-direction: column;
     margin-top: -60%;
     margin-left: 53vw;
 }

 .login-form {
     width: 30%;
     /* float:right;
     margin-top: -35em; */
     display: flex;
     flex-direction: column;
     margin-top: -60%;
     margin-left: 53vw;
 }



/* Acorn Pattern (for login/sign up pages)  */

h1.login-heading, .signup-heading {
    color: #204272;
    text-align: center;
    padding:1em;
}


.acorn-pattern {
    z-index: 1;
    width: 50vw;
    height: auto;
    display: block;
    margin-top: 10vh;
    margin-left: -10em;

}


.new-acorn-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -10vw;
    margin-top: 1.5em;
}

/* New Acorn Button */
.new-acorn-button {
    background: white;
    margin:1em;
    padding:1em;

}

/* Style Headers */

 /* Home Section Styles */
.mission-section  {
 color: black;
 font-size: 5em;
 text-transform: capitalize;

}

h1.categories {
    margin-top: .5em;
    margin-bottom: .4em;
    color:#204272;

    font-family: 'Montserrat', sans-serif; sans-serif;
}



h1.made-new-acorn {
    color: #204272;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif; sans-serif;
    text-align: center;
    margin-top: 2em;

}

h1.made-new-acorn1 {
    color: #204272;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif; sans-serif;
    text-align: center;
    margin-top: 1em;

}

/*Acorn on Create New page  */
.big-acorn1 {
    display: block;
    margin-right: ;
    margin-left: -4em;
    width: 4%;
}

/*Acorn Show Page */
.big-acorn {
    display: block;
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: -5em;
    margin-right: 1em;
}

.category-acorn {
    display: block;
    margin-top: 1em;
    width: 3em;

}
h3 {
 margin-top: .5em;
 color:black;
 text-decoration: none;
 font-family: 'Montserrat', sans-serif; sans-serif;
 font-size: 3em;
 text-align: center;
}

/* New Acorn Heading  */
a.edit-acorn-link {
    color:#204272
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a.edit-acorn-link::after

.new-category-button {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;

}
.your-categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Card (Acorn) Styles */

/* buttons on acorns.show page (delete and back) */
.show-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body {
    margin: 2em;
}

/* Contact Form Styles */
