
html {
    height: 100%;
}

/* Style Body */

body {
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#506db7, #182f5b)fixed;
}

/* Style Links */
 a {
     color:black;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.5em;
 }

a.new-acorn-heading {
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

/* New Acorn Button Styles */
.new-acorn-button-container {

}

.new-acorn-button {
    background: white;
    margin:1em;
    padding:1em;
    
}


/* Style Headers */
 h3 {
     margin-top: .5em;
     color:white;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 3em;
     text-align: center;
 }

 /* Home Section Styles */
 h1.home-section {
     color: white;
     font-size: 5em;
     text-transform: capitalize;

 }

/* Card (Acorn) Styles */
.card-body {
    margin: 2em;

}

/* Search Bar Styles */
 .search-container{
   width: 490px;
   display: block;
   margin: 0 auto;
 }

 input#search-bar{
   margin: 0 auto;
   width: 100%;
   height: 45px;
   padding: 0 20px;
   font-size: 1rem;
   border: 1px solid #D0CFCE;
   outline: none;
   &:focus{
     border: 1px solid #008ABF;
     transition: 0.35s ease;
     color: #008ABF;
     &::-webkit-input-placeholder{
       transition: opacity 0.45s ease;
   	  opacity: 0;
      }
     &::-moz-placeholder {
       transition: opacity 0.45s ease;
   	  opacity: 0;
      }
     &:-ms-placeholder {
      transition: opacity 0.45s ease;
   	 opacity: 0;
      }
    }
  }

 .search-icon{
   position: relative;
   float: right;
   width: 75px;
   height: 75px;
   top: -62px;
   right: -45px;
 }

/* Contact Form Styles */
